@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");
body {
    font-family: "Cairo", sans-serif !important;
}
.logo {
    fill: #0f766e;
    width: 300px !important;
}

@media print {
    .print {
        visibility: hidden;
    }
}
