@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap");
body {
    font-family: "Cairo", sans-serif !important;
}
.logo {
    fill: #0f766e;
    width: 300px !important;
    position: relative;
}



@media print {

    .print-box {
        margin-top: -100px;
    }
    .print {
        visibility: hidden;
    }
    .flex-col {
        margin-bottom: 20px;
    }
}
